#timeAndTaskWrapper{
    display: flex;
    justify-content: center;
}
body{
    background:#fff url("../assets/CoffeetivityBackground.png") center center no-repeat;
    background-attachment: fixed;
    background-size:cover;
    /* background-color: #C8E3C4; */
    /* background-color: #BDAB98; color code for brown color*/ 
}
#background {
    position: absolute;
    z-index: -1000;
    width: 100%;
    height: 100%;
}
#timerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.5;
    margin-top: 300px;
    margin-left: 300px;
}

#cup {
    position: absolute;
    cursor: pointer;
    background: transparent;
    border:none;
    height: 500px;
    width: 500px;
    border-radius: 50%;

}
#clock { 
    position: absolute;
    color: white;
    font-size: 90px;
    z-index: 100;
    user-select: none;
    pointer-events: none;
} 

#taskbar{
    position: relative;
    top: 375px;
}
#session{
    position: absolute;
    margin-top: 735px;
    color: black;
    z-index: 100;
    font-size: 40px;
}

/* .buttonStyle{
    position: absolute;
    color: white;
    font-size: 35px;
    background-color: #dcdcdc00;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid white;
} */

input:focus{
    outline: 0 !important;
}

/* .buttonStyle:hover {
    background-color: rgba(69, 252, 63, 0.336);
} */

#navBar {
    font-family: 'Cutive', serif;
    font-size: 48px;
}

#timerNav {
    text-align:center
}

#tasksNav {
    text-align:center
} 



