body{
    background-color: #C8E3C4;
    /* background-color: #BDAB98; color code for brown color*/ 
}

#timerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90;
}

#cup {
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 50%;

}
#clock { 
    position: absolute;
    color: white;
    font-size: 90px; 
    z-index: 100;
    user-select: none;
    pointer-events: none;
} 

#session{
    position: absolute;
}

#taskbar{
    position: relative;
    top: 375px;
}
#session{
    position: absolute;
    top: 800px;
    color: black;
    z-index: 100;
    font-size: 40px;
}

/* .buttonStyle{
    position: absolute;
    color: white;
    font-size: 35px;
    background-color: #dcdcdc00;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid white;
} */

input:focus{
    outline: 0 !important;
}

/* .buttonStyle:hover {
    background-color: rgba(69, 252, 63, 0.336);
} */

#navBar {
    font-family: 'Cutive', serif;
    font-size: 48px;
}

#timerNav {
    text-align:center
}

#tasksNav {
    text-align:center
} 



