/* Basic Style */


#taskListContainer {
  color: white;
  display: inline-block;
  width: 600px;
  margin: 10px auto 100px;
  background-color: #000033;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
  position: absolute;
  right: 0;
}

#tasks {
  width: 100%
}

.taskItem {
  list-style: none;
  font-size: 2em;
}

.menu{
  color: white;
  background: transparent;
  border: none !important;
  font-size: 30px;
  position: absolute;
  right: 0;
}

input[type="text"]
{
    background: transparent;
    border: none;
}

#taskListContainer h2 {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0px;
  font-size: 70px;
}

#new-task{
  background: transparent;
  border: none !important;
  font-size: 2em;
  margin-left: 3.2em;
}

#taskListContainer input[type='checkbox'] {
  margin: 0 10px;
  height: 25px;
  width: 25px;
}

/*
#taskListContainer ul {
  margin: 0;
  padding: 0;
}

#taskListContainer li * {
  float: left;
  padding: 0;
  border-bottom: 1px dotted red;
}

#taskListContainer li,
#taskListContainer h3 {
  clear: both;
  list-style: none;
  text-indent: 5px;
}

#taskListContainer input,
#taskListContainer button {
  outline: none;
}

#taskListContainer button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

#add-btn {
  float: center;
  vertical-align: top;
}

#taskListContainer button:hover {
  color: #333;
} */

/* Heading */

/* #taskListContainer h3,
#taskListContainer label[for='new-task'] {
  color: #333;
  font-weight: 800;
  font-size: 15px;
  padding: 20px 0 10px;
  text-transform: uppercase;
}

#taskListContainer input[type='text'],
#taskListContainer textarea {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

#taskListContainer input[type='text']:focus {
  color: #333;
} */

/* New Task */

/* #taskListContainer label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
}

#taskListContainer #new-task {
  float: center;
  width: 318px;
  padding: 0;
  border: 0;
  height: 5em;
  background-color: #f5f5dc;
  border-radius: 5px;
}

#taskListContainer p > button:hover {
  color: #0fc57c;
} */

/* Task list */

/* #taskListContainer li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
*/



/*
#taskListContainer li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}

#taskListContainer li > input[type='text'] {
  width: 226px;
}

#taskListContainer li > .delete:hover {
  color: #cf2323;
} */

/* Completed */

/* #taskListContainer .finished label {
  text-decoration: line-through;
  color: #888;
} */

/* Edit Task */

/* #taskListContainer ul li input[type='text'] {
  display: none;
}

#taskListContainer ul li.editMode input[type='text'] {
  display: block;
}

#taskListContainer ul li.editMode label {
  display: none;
} */
