#clock { 
    color: white;
    font-size: 175px; 
    width: 900px; 
    margin: 50px; 
    text-align: center; 
} 

#session{
    color: white;
    font-size: 50px;
}

.buttonStyle{
    color: white;
    font-size: 35px;
    background-color: #dcdcdc00;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid white;
}

*:focus{
    outline: 0 !important;
}

/* .buttonStyle:hover {
    background-color: rgba(69, 252, 63, 0.336);
} */


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body{
    background-color: black;
    background-image: url(coffee.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
